.employee_table{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  .employee_table table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 17px;
    font-weight: 500;
  }
  
  th {
    background-color: rgb(33 98 30);;
    color: #ffffff;
    cursor: pointer;
  }
  th:hover {
    background-color: rgba(54, 146, 49, 0.986);
  }
  
  td {
    background-color: #e9f5eb;
  }
  
  .employee_table form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 20px;
  }


/**************************** TableHeader *****/
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input.form-control {
  font-size: 15px;
}
.table-header .input.dropdown {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-weight: 500;
}

.table-header label {
  padding-right: 10px;
}
select#Show {
  height: 25px;
}


/**************************** TableFooter *****/
.footerTable {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerTable button.btn {
  padding: 3px;
  background-color: #21621E;
  color: whitesmoke;
  font-size: 15px;
  /* border-radius: 10px; */
  font-weight: 600;
  border: #21621E solid 1px;
  cursor: pointer;
}
.footerTable button.btn:hover{
  background-color: rgba(54, 146, 49, 0.986);
}

.footerTable-pagination {
  display: flex;
  height: 30px;
  align-items: center;
}
.footerTable-pagination p{
  padding: 2px 4px;
  background-color: #21621E;
  color: whitesmoke;
  font-weight: 500;
  border: white 1px solid;
}
.footerTable-show{
  font-weight: 500;
}
