.employee-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
    margin: 0 auto;
    max-width: 1440px;
    flex-direction: column;
    border: 2px solid #21621E;
}

.employee h1 {
    padding: 5px 20px;
    background-color: #21621E;
    margin: 0 0 20px;
    color: #fff;
    border-radius: 0 0 10px 10px;
}

.back-home h3 {
    padding: 7px;
    background-color: #21621E;
    color: whitesmoke;
    border-radius: 14px;
    border: 1px dashed rgb(165, 190, 50);
    font-size: 16px;
    font-weight: 600;
}
.back-home h3:hover {
   cursor: pointer;
   background-color:#93ad18
}